.pointer {
  cursor: pointer;
}

.app__heading {
  text-align: center;
  margin-block-end: 20px;
}

.campaign__card {
  margin-block-end: 50px;
}

.campaign__card__heading__div {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
}

.campaign__card__heading__div__logo {
  width: 64px;
  height: 64px;
  border-radius: 18px;
}

.media__scroller {
  --_spacer: 1rem;
  display: grid;
  gap: var(--_spacer);
  grid-auto-flow: column;
  grid-auto-columns: 80%;
  height: 600px;

  background: #f2f2f2;

  padding: 20px var(--_spacer) 20px var(--_spacer);

  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.media__element {
  display: grid;
  grid-template-rows: min-content;
  gap: var(--_spacer);
  padding: var(--_spacer);

  /*
  background: var(--surface-2);
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-2);
  */
}

.media__element__photo__div {
  position: relative;
  border: 1px solid;
  height: 600px;
  background: #f2f2f2;
}

.media__element__bottom__white__div {
  background: #fff;
  border-radius: 8px;
  padding: 10px;
}

.media__element__photo {
  filter: brightness(0.5);
}

.media__element__play__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 64px;
  height: 64px;
  cursor: pointer;
}

.snaps__inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: var(--_spacer, 1rem);
}

.snaps__inline > * {
  scroll-snap-align: start;
}

.media__element__bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px 20px 10px 20px;
}
